@model AviaMare.Models.Home.TicketCreationViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form class="ticket-section-creation" method="post">
    <div class="tickets-creation">
            <div class="ticket-creation">
                <div class="ticket-header">   
                    <span>
                    От:
                    @Html.TextBoxFor(x => x.Departure, new { placeholder = "Введи откуда" })
                    @Html.ValidationMessageFor(x => x.Departure)
                    —
                    До:
                    @Html.TextBoxFor(x => x.Destination, new { placeholder = "Введи куда" })
                    @Html.ValidationMessageFor(x => x.Destination)
                    </span>
                </div>
                <div class="ticket-body">
                    <div class="info">
                        <div>Время в полёте:</div>
                        <span>
                            @Html.TextBoxFor(x => x.Time, new { placeholder = "Введи время полета" })
                            @Html.ValidationMessageFor(x => x.Time)
                        </span>
                    </div>
                    <div class="info">
                        <div>Время вылета:</div>
                        <span>
                            @Html.TextBoxFor(x => x.TakeOffTime, new { placeholder = "Введи время вылета" })
                            @Html.ValidationMessageFor(x => x.TakeOffTime)
                        </span>
                    </div>
                    <div class="info">
                        <div>
                            Время прилёта:
                        </div>
                        <span>
                            @Html.TextBoxFor(x => x.LandingTime, new { placeholder = "Введи время прилета" })
                            @Html.ValidationMessageFor(x => x.LandingTime)
                        </span>
                    </div>
                    <div class="info">
                        <div>Самолёт:</div>
                        <span>
                            @Html.TextBoxFor(x => x.IdPlane, new { placeholder = "Введи номер самолета" })
                            @Html.ValidationMessageFor(x => x.IdPlane)
                        </span>
                    </div>
                </div>
                <div class="ticket-footer">
                    <div class="price">
                        @Html.TextBoxFor(x => x.Cost, new { placeholder = "Введи цену" })
                        @Html.ValidationMessageFor(x => x.Cost)
                    </div>
                <button type="submit"
                        class="text-neutral-950 hover:text-orange-500 py-2 px-4 rounded-md bg-orange-200" style="margin: 0 auto;display: block;">
                    Создать
                </button>
                    <div class="seats">Мест осталось: нет данных</div>
                </div>
            </div>
    </div>
</form>