@using AviaMare.Models.Home
@using AviaMare.Services
@model List<TicketViewModel>
@inject AuthService authService
@inject UserService userService

<script>
    function updateHiddenValue(hiddenInputId, value) {
        document.getElementById(hiddenInputId).value = value ? value : 'null';
    }

    function updateRangeValue() {
        const rangeInput = document.getElementById('priceRange');
        const currentValueDisplay = document.getElementById('currentValue');
        currentValueDisplay.textContent = rangeInput.value;
        document.getElementById('costInput').value = rangeInput.value;
    }

    function updateSortOrder() {
        const sortSelect = document.getElementById('sortOrder');
        const hiddenSortOrder = document.getElementById('hiddenSortOrder');
        hiddenSortOrder.value = sortSelect.value; 
    }
</script>

<div class="py-10">
    <section class="flex gap-8 items-start">
        <div class="basis-1/3">
            <form class="bg-orange-50 p-6 rounded-md mb-6" action="/Home/SearchTicket" method="post">
                <h2 class="text-orange-950 font-bold text-lg mb-4">
                    Поиск рейсов
                </h2>
                <div class="flex flex-col gap-4">
                    <label class="flex flex-col">
                        <span class="text-neutral-950">Откуда</span>
                        <input type="text"
                               placeholder="например, Нью-Йорк"
                               class="border border-orange-300 p-2 rounded-md"
                               oninput="updateHiddenValue('fromInput', this.value)" />
                        <input type="hidden" name="departure" id="fromInput" value="null" />
                    </label>

                    <label class="flex flex-col">
                        <span class="text-neutral-950">Куда</span>
                        <input type="text"
                               placeholder="например, Лос-Анджелес"
                               class="border border-orange-300 p-2 rounded-md"
                               oninput="updateHiddenValue('toInput', this.value)" />
                        <input type="hidden" name="destination" id="toInput" value="null" />
                    </label>

                    <label class="flex flex-col">
                        <span class="text-neutral-950">Дата</span>
                        <input type="date"
                               class="border border-orange-300 p-2 rounded-md"
                               oninput="updateHiddenValue('dateInput', this.value)" />
                        <input type="hidden" name="takeOffTime" id="dateInput" value="null" />
                    </label>

                    <label class="flex flex-col">
                        <span class="text-neutral-950">Ценовой диапазон</span>
                        <input type="range" min="0" max="1000" value="1000" class="w-full" id="priceRange" oninput="updateRangeValue()" />
                        <div class="flex justify-between">
                            <span>0</span>
                            <span id="currentValue">1000</span>
                            <span>1000</span>
                        </div>
                    </label>

                    <label class="flex flex-col">
                        <span class="text-neutral-950">Сортировка</span>
                        <select id="sortOrder" onchange="updateSortOrder()">   
                            <option value="desc">По убыванию</option>
                            <option value="asc">По возрастанию</option>
                        </select>
                    </label>

                    <input type="hidden" name="cost" id="costInput" value="1000" />
                    <input type="hidden" name="sortOrder" id="hiddenSortOrder" value="desc" />

                    <button class="bg-orange-500 text-white py-2 px-4 rounded-md" type="submit">
                        Найти
                    </button>
                </div>
            </form>
        </div>
        <div class="basis-2/3">
            <h2 class="text-orange-950 font-bold text-lg mb-4">
                Популярные направления
            </h2>
            <div class="grid grid-cols-3 gap-6 mb-8">
                <div class="bg-orange-100 p-4 rounded-md">
                    <img src="~/images/Bus.jpeg"
                         alt="destination"
                         class="w-full h-[100px] object-cover rounded-md" />
                    <h3 class="text-neutral-950 mt-2 font-medium">Париж</h3>
                </div>
                <div class="bg-orange-100 p-4 rounded-md">
                    <img src="~/images/boat.jpeg"
                         alt="destination"
                         class="w-full h-[100px] object-cover rounded-md" />
                    <h3 class="text-neutral-950 mt-2 font-medium">Токио</h3>
                </div>
                <div class="bg-orange-100 p-4 rounded-md">
                    <img src="~/images/composition.jpeg"
                         alt="destination"
                         class="w-full h-[100px] object-cover rounded-md" />
                    <h3 class="text-neutral-950 mt-2 font-medium">Дубай</h3>
                </div>
            </div>
            <h2 class="text-orange-950 font-bold text-lg mb-4">
                Билеты
            </h2>
            <div class="ticket-section">
    <div class="tickets">
        @foreach (var ticket in Model)
        {
            <div class="ticket">
                <div class="ticket-header">
                    <h2>От: @ticket.Departure — До: @ticket.Destination</h2>
                    @if (authService.IsAviaMareModerator())
                    {
                        <a class="tag" href="/Home/Remove?id=@ticket.Id">Удалить</a>
                    }
                </div>
                <div class="ticket-body">
                    <div class="info">
                        <div>Время в полёте:</div>
                        <span>@ticket.Time</span>
                    </div>
                    <div class="info">
                        <div>Время вылета:</div>
                        <span>@ticket.TakeOffTime</span>
                    </div>
                    <div class="info">
                        <div>Время прилёта:</div>
                        <span>@ticket.LandingTime</span>
                    </div>
                    <div class="info">
                        <div>Самолёт:</div>
                        <span>@ticket.IdPlane</span>
                    </div>
                </div>
                <div class="ticket-footer">
                    <div class="price">@ticket.Cost</div>
                                
                                @if (authService.IsAuthenticated())
                                {
                                    <form action="/Home/LinkUserAndTicket" method="post">
                                        <input type="hidden" name="ticketId" value="@ticket.Id" />
                                        <input type="hidden" name="userId" value="@authService.GetUserId()" />
                                        @if (!userService.IsThisUserBoughtThisTicket(ticket.Id, authService.GetUserId() ?? 0))
                                        {
                                            <button type="submit" class=" text-neutral-950 hover:text-orange-500 py-2 px-4 rounded-md bg-orange-200" style="width: 150px; text-align: center; border: none">Купить</button>
                                        }
                                        else
                                        {
                                            <div>Уже купленно</div>
                                        }
                                    </form>
                                }
                    <div class="seats">Мест осталось: @ticket.Count</div>
                </div>

            </div>
        }
    </div>
</div>
        </div>
    </section>      
        
</div>
