@using AviaMare.Models.Home.Profile
@using AviaMare.Localisation

@model ProfileViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="profile">
    <div class="username">
        <h1>@Model.UserName</h1>
    </div>

    @* <div>
        Avatar:
        <img class="avatar" src="@Model.AvatarUrl" />
    </div>
    <div>
        <form action="/MoviePoster/UpdateAvatar" method="post" enctype="multipart/form-data">
            <input type="file" name="avatar" />
            <button type="submit">Обновить аватар</button>
        </form>
    </div> *@
    <div style="margin: 10px">
    </div>
    @if (Model.Tickets is not null)
    {
    <div class="pofile-tickets">
        @foreach (var ticket in Model.Tickets)
        {
            <div class="ticket">
                <div class="ticket-header">
                        <h2>@InfoTicket.From_Ticket_Text @ticket.Departure — @InfoTicket.To_Ticket_Text @ticket.Destination</h2>
                </div>
                <div class="ticket-body">
                    <div class="info">
                            <div>@InfoTicket.Flight_Time_Ticket_Text</div>
                        <span>@ticket.Time</span>
                    </div>
                    <div class="info">
                            <div>@InfoTicket.Departure_Time_Ticket_Text</div>
                        <span>@ticket.TakeOffTime</span>
                    </div>
                    <div class="info">
                            <div>@InfoTicket.Arrival_Time_Ticket_Text</div>
                        <span>@ticket.LandingTime</span>
                    </div>
                    <div class="info">
                            <div>@InfoTicket.Plane_Ticket_Text</div>
                        <span>@ticket.IdPlane</span>
                    </div>
                </div>

            </div>
        }
    </div>
    }
</div>